<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ APP }} - Entrar</title>
    <!--Estilos-->
    <link href='http://fonts.googleapis.com/css?family=Abel|Raleway:400,700' rel='stylesheet' type='text/css'>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "css/login.css" %}"/>
</head>
<body role="document">
    <div class="container theme-showcase" role="main" id="wrapper">
        <div class="col-lg-12" id="container">

            <div id="login-container">
                <div class="inner">
                    <h1 style="text-align: center"><strong>{{ APP|slice:":1" }}</strong><span>{{ APP|slice:"1:" }}</span></h1>
                    {% if message %}<h5 class="errors">*{{ message }}</h5>{% endif %}
                    <form id="login_form" method="post" action="">
                        {% csrf_token %}
                        <label for="">Usuario :</label>
                        <input type="text" name="username" placeholder="Usuario..." size="50" class="form-control input-lg"/>
                        <label for="">Contrase&ntilde;a : </label>
                        <input type="password" name="password" placeholder="Contrasena..." size="50" class="form-control input-lg" />
                        <input type="submit" value="Entrar" class="btn btn-block btn-lg btn-default"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Scripts-->
    {% load static from staticfiles %}
    <script type="application/javascript" src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script type="application/javascript" src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>