{% extends 'layouts/base.html' %}
{% load extras_kaans %}

{% block content %}
    <h1 class="page-header">Perfil</h1>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="container-fluid forma">
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6">
                        {{ field.label_tag }}
                        {{ field|addclass:"form-control input-lg" }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <div class="row botones">
                <div class="col-md-6">
                    <input type="submit" value="Guardar" class="btn btn-success btn-lg"/>
                    <a href="{% url 'account.views.index' %}" class="btn btn-default btn-lg">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
