{% extends 'layouts/base.html' %}

{% block content %}

<!--MODAL-->
<div class="modal fade" id="modal-student" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-student-form"></div>
  </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2> Estudiantes </h2>  
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-success btn-modal-student-form glyphicon glyphicon-plus-sign"></button>
                    <button class="btn-edit-student btn btn-primary glyphicon glyphicon-edit"></button>
                    <button class="btn btn-danger glyphicon glyphicon glyphicon-trash"></button>
                </div>
            </div>
        </div>
        <!-- CONTENT STUDENT -->
        <div id="content-table-student">
            {% include "students/students.html" %}
        </div>
    </div>         
    <div class="col-md-3">
        <h5>Filtrar por</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Grado</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Grupo</label>
                    <select class="form-control">
                        <option>A</option>
                        <option>B</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Turno</label>
                    <select class="form-control">
                        <option>M</option>
                        <option>V</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a href="#">Busqueda avanzada</a>
        </div>
        <div class="form-group">
            <button class="btn btn-success">Buscar</button>
        </div>
    </div>
</div>
	
	
{% endblock %}