{% load filter_addclass %}
<form method="POST" action="/students/new/" class="form-student" id="form-student">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">New student</h4>
	</div>
	<div class="modal-body">
		{% csrf_token %}
		<div class="row">
		
		{% for field in form %}
			<div class="col-md-6">	
			{{ field.label_tag }}
			{{ field.widget }}
			{{ field|addclass:"form-control" }}
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="modal-footer">
	  	<button type="submit" id="btn-modal-save" class="save btn btn-success">Save</button>
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	</div>
</form>