<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="5%">#</th>
            <th width="30%">Name</th>
            <th width="70%">Last name</th>
        </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr id="{{ student.id }}">
                <td> {{ student.id }} </td>
                <td> {{ student.name }} </td>
                <td> {{ student.last_name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if students.has_previous %}
            <a href="?page={{ students.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}
        </span>

        {% if students.has_next %}
            <a href="?page={{ students.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>