<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="image_src" type="image/jpeg" href="">

    <!-- Site Properities -->
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">

    <title>School system</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}"/>
    <link rel="stylesheet" href="{% static "css/table.css" %}"/>
    <link rel="stylesheet" href="{% static "css/h.css" %}"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Dashboard</a></li>
            <li>
                <a href="{% url 'students:index' %}" class="active">
                    <i class="glyphicon glyphicon-user"> Alumnos </i>
                </a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-education"> Docentes</i></a></li>
            <li><a href=""><i class="glyphicon glyphicon-blackboard"> Materias </i></a></li>
            <li>
                <a href="{% url 'institution:groups'%}">
                    <i class="glyphicon glyphicon-th"> Grupos </i>
                </a>
            </li>
            <li>
                <a href="{% url 'institution:grades'%}">
                    <i class="glyphicon glyphicon-th-list"> Grados </i>
                </a>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-bookmark"> Ciclos escolares</i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-paperclip"> Archivos </i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-book"> Tareas</i></a></li>
            <li><a href=""><i class="glyphicon glyphicon-credit-card"> Pagos </i></a></li>
            <li><a href=""><i class="glyphicon glyphicon-inbox"> Mensajes </i></a></li>
            <li><a href=""><i class="glyphicon glyphicon-cog"> Configuraci&oacute;n </i></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-question-sign"> Ayuda</i></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>


    <script type="application/javascript" src="{% static "vendors/jquery/dist/jquery.js" %}"></script>
    <script type="application/javascript" src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/dashboard/table.js" %}"></script>
    <script type="application/javascript" src="{% static "js/dashboard/dashboard.js" %}"></script>
    <script type="application/javascript" src="{% static "js/dashboard/students.js" %}"></script>
    <script type="application/javascript" src="{% static "js/jquery.form.js" %}"></script>
    <script type="application/javascript" src="{% static "js/jquery.validate.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/bootbox.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/dashboard/helpers.js" %}"></script>
</body>
</html>
