<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="image_src" type="image/jpeg" href=" ">

    <!-- Site Properities -->
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">

    <title>Zativa - School system</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}"/>

    <link rel="stylesheet" href="{% static "css/app.css" %}"/>
    <link rel="stylesheet" href="{% static "css/theme.css" %}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'account.views.index' %}"><strong>{{ APP|slice:":1" }}</strong><span>{{ APP|slice:"1:" }}</span></a></a>
        </div>
        <ul class="nav navbar-nav left-controls">
            <li><a href="#" id="dashboard-actions"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
        </ul>
        <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'account.views.profile' %}">Perfil</a></li>
                        <li><a href="#">Ajustes</a></li>
                        <li><a href="#">Mensajes</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'account.views.log_out' %}">Salir</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input class="form-control search" placeholder="Buscar..." type="text">
            </form>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
            <div class="profile">
                <div class="placeholder">
                    <img class="img-responsive" data-holder-rendered="true"
                         src="https://avatars3.githubusercontent.com/u/1274057?v=3&s=460"
                         data-src="holder.js/200x200/auto/sky" alt="200x200">
                </div>
                <div class="info">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ user.first_name }} {{ user.last_name }}
                            <small style="display: block;">Student of engineer</small>
                        </a>
                    </li>
                </div>
            </div>
            <ul class="nav nav-sidebar">
                <li><a href="" class="active"><i class="glyphicon glyphicon-user"></i><span>Alumnos</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-blackboard"></i><span>Clases</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-th"></i><span>Grupos</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-file"></i><span>Reportes</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-credit-card"></i><span>Pagos</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-inbox"></i><span>Mensajes</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-paperclip"></i><span>Archivos</span></a></li>
                <li><a href=""><i class="glyphicon glyphicon-cog"></i><span>Configuraci&oacute;n</span></a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-sm-offset-3 col-lg-offset-2 col-md-10 col-md-offset-2 main" id="content">
            <div class="inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
<script type="application/javascript" src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script type="application/javascript" src="{% static "js/Dashboard/dashboard.js" %}"></script>
</body>
</html>
