body {
	color: #938E88;
}
a {
	color: #00B98D;
	text-decoration: none;
}
.photography-student {
	border-bottom: 5px solid #FE4365;
}
.my-name {
	background: #292929;
	color: #ffffff;
}

.nav-sidebar > li > a {
	color: #ffffff;
}

.sidebar {
	background: #383735;
}

.navbar-inverse {
	background: #00B98D;
	border-color: #00B98D;	
}

.btn-primary {
	background: #00B98D;
	border-color: #00B98D;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
	font-weight: 800;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	padding: 15px 20px;
}

.navbar-nav {
	border-left: 1px solid #5CC8A4;
	border-right: 1px solid #5CC8A4;
}
h1, h2, h3, h4, h5 {
	color: #817E79;
	font-weight: 800;
}

.pt-15 {
	padding-top: 15px;
}


/*DASHBOARD*/
.dashboard-classes-text {
	height: 50px;
}

.done {
	color: green;
}

.warning {
	color: yellow;
}

.activity-input-file {
	padding: 10px;
	border: 1px solid #00B98D;
	border-style: dotted;
}
.student-name {
	padding: 0px 10px;
}

.student-name:hover, .student-photography:hover {
	background: #333333;
}

.nav-sidebar > li > a:hover {
	background: #555555;
}