table tbody tr:hover {
    color: #261F1D !important;
    background-color: #E5C37E !important;
}

table tbody .highlighted {
    color: #261F1D !important;
    background-color: #E5C37E !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

.table {
	margin-top: 10px;
}

.table>thead>tr>th {
	background: #444444;
	color: #fff;
	vertical-align: center;
	border: 2px solid #444444;
}